<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.team.mapper.BoardMapper">


	<insert id="create">
		insert into board (mem_id, img_url,
		mem_nickname,brd_title,
		brd_contents, brd_state, brd_datetime, brd_updatetime,
		brd_img,brd_file)
		values
		(#{mem_id},#{img_url},#{mem_nickname},#{brd_title},
		#{brd_contents},#{brd_state},NOW(),NOW(),#{brd_img},#{brd_file})
	</insert>

	<select id="read" resultType="io.team.domain.Board">
		SELECT * FROM board WHERE
		brd_id =
		#{brd_id} AND brd_state = 0;
	</select>

	<update id="count_hit">
		update board set
		brd_hit=brd_hit+1
		where
		brd_id =
		#{brd_id}
	</update>

	<update id="update">
		update board set
		img_url = #{img_url},
		mem_nickname =
		#{mem_nickname},
		brd_title = #{brd_title},
		brd_contents =
		#{brd_contents},
		brd_state = #{brd_state},
		brd_updatetime = NOW(),
		brd_img = #{brd_img},
		brd_file = #{brd_file}
		where
		brd_id = #{brd_id}
	</update>

	<update id="delete">
		update board set
		brd_state = 1
		where brd_id =
		#{brd_id}
	</update>



	<select id="getBoards" resultType="io.team.domain.Board">
		SELECT * FROM (SELECT * FROM
		board WHERE brd_state = 0) b ORDER BY brd_id DESC LIMIT
		#{pagenum},#{rownum}
	</select>

	<select id="brdcount" resultType="_int">
		SELECT COUNT(*) FROM board
	</select>



	<select id="findByTitleContain" resultType="io.team.domain.Board">
		SELECT * FROM board
		WHERE
		brd_title LIKE CONCAT('%',#{keyword},'%')
		AND
		brd_state = 0
		ORDER BY brd_id
		LIMIT
		#{pagenum},#{rownum};
	</select>

	<select id="getTitleContainCount" resultType="_int">
		SELECT COUNT(*)
		FROM board
		WHERE
		brd_title LIKE CONCAT('%',#{keyword},'%')
		AND
		brd_state = 0;
	</select>
	
	
	
	<select id="findByContentsContain" resultType="io.team.domain.Board">
		SELECT * FROM board
		WHERE
		brd_contents LIKE CONCAT('%',#{keyword},'%')
		AND
		brd_state = 0
		ORDER BY brd_id
		LIMIT
		#{pagenum},#{rownum};
	</select>

	<select id="getContentsContainCount" resultType="_int">
		SELECT COUNT(*)
		FROM board
		WHERE
		brd_contents LIKE CONCAT('%',#{keyword},'%')
		AND
		brd_state = 0;
	</select>
	
	<update id="like">
		update board SET
		brd_like = brd_like + 1
		where
		brd_id = #{brd_id}
	</update>
	
	<update id="likeMinus">
		update board SET
		brd_like = brd_like - 1
		where
		brd_id = #{brd_id}
	</update>
	
	<update id="dislike">
		update board SET
		brd_dislike = brd_dislike + 1
		where
		brd_id = #{brd_id}
	</update>
	
	<update id="dislikeMinus">
		update board SET
		brd_dislike = brd_dislike - 1
		where
		brd_id = #{brd_id}
	</update>
	
</mapper>
