<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.team.mapper.BrdCmtMapper">

	<insert id="create">
		insert into brd_commet (brd_id, mem_id,
		brd_cmt_reply,mem_nickname,
		brd_cmt_contents, brd_cmt_datetime,
		brd_cmt_state)
		values
		(#{brd_id},#{mem_id},#{mem_nickname},#{brd_cmt_reply},
		#{mem_nickname},#{brd_cmt_contents},NOW(),#{brd_cmt_state})
	</insert>

	<select id="read" resultType="io.team.domain.BrdCmt">
		SELECT * FROM brd_commet where
		brd_cmt_id =
		#{brd_cmt_id};
	</select>

	<select id="read_cmts" resultType="io.team.domain.BrdCmt">
		SELECT * FROM (SELECT * FROM
		brd_commet WHERE brd_state = 0 AND brd_id = #{brd_id}) b ORDER BY
		brd_cmt_datetime DESC LIMIT
		#{brd_id}, #{pagecount};
	</select>

	<select id="read_reply" resultType="io.team.domain.BrdCmt">
		SELECT * FROM (SELECT * FROM
		brd_commet WHERE brd_state = 0 AND brd_cmt_reply = #{brd_cmt_reply}) b
		ORDER BY
		brd_cmt_datetime DESC;
	</select>

	<update id="update">
		update brd_commet set
		brd_cmt_contents =
		#{brd_cmt_contents},
		brd_cmt_state = #{brd_cmt_state},
		brd_cmt_updatetime = NOW()
		where
		brd_cmt_id = #{brd_cmt_id}
	</update>

	<update id="delete">
		update brd_commet set
		brd_cmt_state = 1
		where
		brd_cmt_id =
		#{brd_cmt_id}
	</update>


	<select id="cmtcount" resultType="_int">
		SELECT COUNT(*) FROM brd_commet
		WHERE brd_id=#{brd_id} AND brd_cmt_reply=0;
	</select>


</mapper>
