<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.team.mapper.NovelMapper">

	<insert id="create">
		insert into novel (mem_id, img_id,
		nv_writer,nv_title,
		nv_contents, nv_state, nv_datetime)
		values
		(#{mem_id},#{img_id},#{nv_writer},#{nv_title},
		#{nv_contents},#{nv_state},NOW())
	</insert>

	<select id="read" resultType="io.team.domain.Novel">
		SELECT * FROM novel where
		nv_id =
		#{nv_id};
	</select>

	<update id="update">
		UPDATE
		novel
		SET
		img_id = #{img_id},
		nv_writer = #{nv_writer},
		nv_title = #{nv_title},
		nv_contents = #{nv_contents},
		nv_state =  #{nv_state},
		nv_updatetime = NOW()
		WHERE
		nv_id = #{nv_id}
	</update>

	<update id="delete">
		update novel set
		nv_state = 1
		where nv_id =
		#{nv_id}
	</update>


	<update id="count_hit">
		update novel set
		nv_hit=nv_hit+1
		where
		nv_id = #{nv_id}
	</update>

	<select id="getNovels" resultType="io.team.domain.Novel">
		SELECT * FROM (SELECT * FROM
		novel WHERE nv_state = 0) b ORDER BY nv_id DESC LIMIT
		#{pagenum},#{pagecount}
	</select>

	<select id="nvcount" resultType="_int">
		SELECT COUNT(*) FROM novel
	</select>


	<update id="review">
		update novel set
		nv_reviewpoint= nv_reviewpoint +
		#{point},
		nv_reviewcount= nv_reviewcount +1
		where
		nv_id = #{nv_id}
	</update>

</mapper>
