<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.team.mapper.NvCmtMapper">

	<insert id="create">
		insert into novel_comment (nv_id, mem_id,
		nv_cmt_reply,mem_nickname,
		nv_cmt_contents,
		nv_cmt_datetime,nv_cmt_updatetime,
		nv_cmt_state)
		values
		(#{nv_id},#{mem_id},#{nv_cmt_reply},
		#{mem_nickname},#{nv_cmt_contents},NOW(),NOW(),#{nv_cmt_state})
	</insert>

	<select id="read" resultType="io.team.domain.NovelCmt">
		SELECT * FROM novel_comment where
		nv_cmt_id =
		#{nv_cmt_id};
	</select>

	<select id="read_cmts" resultType="io.team.domain.NovelCmt">
		SELECT * FROM (SELECT * FROM
		novel_comment WHERE nv_cmt_state = 0 AND nv_id =
		#{nv_id} AND
		nv_cmt_reply ='0') b ORDER BY
		nv_cmt_datetime DESC
		LIMIT
		#{pagenum},
		#{pagecount};
	</select>


	<select id="read_reply" resultType="io.team.domain.NovelCmt">
		SELECT * FROM (SELECT * FROM
		novel_comment WHERE nv_cmt_state = 0 AND nv_cmt_reply =
		#{nv_cmt_reply})
		b
		ORDER BY
		nv_cmt_datetime DESC;
	</select>

	<update id="update">
		update novel_comment set
		nv_cmt_contents =
		#{nv_cmt_contents},
		nv_cmt_state = #{nv_cmt_state},
		nv_cmt_updatetime =
		NOW()
		where
		nv_cmt_id = #{nv_cmt_id}
	</update>

	<update id="delete">
		update novel_comment set
		nv_cmt_state = 1
		where
		nv_cmt_id =
		#{nv_cmt_id}
	</update>

	<select id="cmtcount" resultType="_int">
		SELECT COUNT(*) FROM
		novel_comment
		WHERE nv_id=#{nv_id} AND nv_cmt_reply=0
	</select>

	<update id="cmt_reply_count">
		update novel_comment set
		nv_cmt_replynum =
		nv_cmt_replynum +1
		where
		nv_cmt_id = #{nv_cmt_id}
	</update>
	<update id="cmt_reply_minus">
		update novel_comment set
		nv_cmt_replynum =
		nv_cmt_replynum - 1
		where
		nv_cmt_id = #{nv_cmt_id}
	</update>

	<update id="like">
		update novel_comment SET
		nv_cmt_like = nv_cmt_like + 1
		where
		nv_cmt_id = #{nv_cmt_id}
	</update>

	<update id="likeMinus">
		update novel_comment SET
		nv_cmt_like = nv_cmt_like - 1
		where
		nv_cmt_id = #{nv_cmt_id}
	</update>

	<update id="dislike">
		update novel_comment SET
		nv_cmt_dislike =
		nv_cmt_dislike + 1
		where
		nv_cmt_id = #{nv_cmt_id}
	</update>

	<update id="dislikeMinus">
		update novel_comment SET
		nv_cmt_dislike =
		nv_cmt_dislike - 1
		where
		nv_cmt_id = #{nv_cmt_id}
	</update>


	<update id="report">
		UPDATE novel_comment SET
		nv_cmt_blame = nv_cmt_blame + 1
		WHERE
		nv_cmt_id = #{nv_cmt_id}
	</update>

</mapper>
