<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.team.mapper.NvTagMapper">
	<insert id="create">
		insert into novel_tag ( tag_id, nv_id)
		values
		(#{tag_id},#{nv_id})
	</insert>

	<select id="findByTagid" resultType="io.team.mapper.NvTagMapper">
		SELECT * FROM novel_link
		where
		tag_id =
		#{tag_id};
	</select>
	
	<select id="findByNvid" resultType="io.team.mapper.NvTagMapper">
		SELECT * FROM novel_link
		where
		nv_id =
		#{nv_id};
	</select>
</mapper>
