<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.team.mapper.NvTagMapper">
	<insert id="create">
		insert into novel_tag ( tag_hash, nvc_id)
		values
		(#{tag_hash},#{nvc_id})
	</insert>

	<select id="findByTagHash" resultType="int">
		SELECT nvc_id FROM novel_tag
		where
		tag_hash =
		#{tag_hash};
	</select>
	
	<select id="findByNvcid" resultType="int">
		SELECT tag_hash FROM novel_tag
		where
		nvc_id =
		#{nvc_id};
	</select>
</mapper>
