<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.team.mapper.TagMapper">
	<insert id="create">
		insert into tag ( tag_hash, tag_name)
		values
		(#{tag_hash},#{tag_name})
	</insert>

	<select id="findByTagHash" resultType="String">
		SELECT tag_name FROM tag
		where
		tag_hash =
		#{tag_hash}
		LIMIT 1;
	</select>
	
	<select id="findByTageName" resultType="String">
		SELECT tag_hash FROM tag
		where
		tag_name =
		#{tag_name} 
		LIMIT 1;
	</select>

</mapper>
