<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.team.mapper.UserMapper">
	<select id="checkIdReduplication" resultType="_int">
		SELECT COUNT(*) FROM user
		where
		mem_userid =
		#{mem_userid}
	</select>
	
	<select id="checkNickReduplication" resultType="_int">
		SELECT COUNT(*) FROM user
		where
		mem_nick =
		#{mem_nick}
	</select>

	<insert id="create">
		insert into user (mem_userid, mem_password,
		mem_changepwd,mem_email,
		mem_nick, mem_point, mem_regist_datetime,
		mem_lastlogin_datetime, mem_icon)
		values
		(#{mem_userid},#{mem_password},#{mem_changepwd},#{mem_email},
		#{mem_nick}, 500,
		#{mem_regist_datetime},#{mem_lastlogin_datetime},#{mem_icon})
	</insert>
	<select id="read" resultType="io.team.domain.User">
		SELECT * FROM user where
		mem_userid
		=
		#{mem_userid} AND
		mem_password =
		#{mem_password}
	</select>

	<select id="findByMemUserId" resultType="io.team.domain.User">
		SELECT * FROM user
		WHERE
		mem_userid = #{mem_userid} LIMIT 1
	</select>

	<select id="findByMemid" resultType="io.team.domain.User">
		SELECT * FROM user where
		mem_id = #{mem_id} LIMIT 1
	</select>


	<select id="findTokenByMemid" resultType="String">
		SELECT token FROM user
		where
		mem_id = #{mem_id} LIMIT 1
	</select>

	<update id="lastlogin">
		update user set
		mem_lastlogin_datetime=NOW()
		where
		mem_id =#{mem_id};
	</update>
	<update id="updateToken">
		update user set
		token = #{token}
		where
		mem_id =#{mem_id};
	</update>

	<update id="update">
		UPDATE user SET
		mem_email = #{mem_email},
		mem_nick = #{mem_nick},
		mem_icon = #{mem_icon}
		WHERE
		mem_id = #{mem_id};

	</update>
	<update id="updatepwd">
		update user set
		mem_password =#{mem_password},
		mem_changepwd = NOW()
		WHERE
		mem_id =#{mem_id}
	</update>

	<update id="delete">
		update user set
		mem_state = 1
		where mem_userid =
		#{mem_userid} AND
		mem_password=
		#{mem_password}
	</update>

	<update id="changePoint">
		update user set
		mem_point = mem_point + #{point}
		where
		mem_id = #{mem_id}
	</update>

	<select id="getPoint" resultType="Integer" >
		SELECT mem_point FROM user
		where
		mem_id = #{mem_id} LIMIT 1
	</select>
	
</mapper>
