<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.team.mapper.UserMapper">
	<select id="checkIdOverlap" resultType="_int">
		SELECT COUNT(*) FROM user where
		mem_userid =
		#{mem_userid} and
		mem_nick = 
		#{mem_nick}
	</select>
	
	<insert id="create">
		insert into user (mem_userid, mem_password,
		mem_changepwd,mem_email,
		mem_nick, mem_regist_datetime,
		mem_lastlogin_datetime, mem_icon)
		values
		(#{mem_userid},#{mem_password},#{mem_changepwd},#{mem_email},
		#{mem_nick},#{mem_regist_datetime},#{mem_lastlogin_datetime},#{mem_icon})
	</insert>
	<select id="read" resultType="io.team.domain.User">
		SELECT * FROM user where
		mem_userid =
		#{mem_userid} AND
		mem_password =
		#{mem_password}
	</select>
	<update id="lastlogin">
		update user set
		mem_lastlogin_datetime=NOW()
		where
		mem_id =#{mem_id};
	</update>
	<update id="update">
		update user set
		mem_email = #{mem_email},
		mem_nick =
		#{mem_nick},
		mem_point = #{mem_point},
		mem_state = #{mem_state},
		mem_following_nvnum = #{mem_following_nvnum},
		mem_following_wrnum =
		#{mem_following_wrnum},
		mem_followed = #{mem_followed},
		mem_icon =
		#{mem_icon}
		where
		mem_userid = #{mem_userid} and
		mem_password =#{mem_password}
	</update>
	<update id="modifypwd">
		update user set
		mem_password =#{mem_password},
		mem_changepwd = #{mem_changepwd}
		where
		mem_id =
		#{mem_id}
	</update>

	<update id="delete">
		update user set
		mem_state = 1
		where mem_userid =
		#{mem_userid} AND
		mem_password=
		#{mem_password}
	</update>

</mapper>
